*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* Defines what 1rem is (10px) */
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.hero {
  position: relative;
}

.hero__container {
  padding: 5rem 6rem 15rem 6rem;
  height: 90vh;
  overflow: hidden;

  display: -ms-grid;

  display: grid;
  -ms-grid-rows: 3rem 1fr 4rem;
  grid-template-rows: 3rem 1fr 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: right;
  position: relative;
}

.hero__image {
  width: 100%;
  height: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  position: absolute;
}

.hero__logo {
  width: 35rem;
}

.hero__content {
  font-size: 3.5rem;
  font-weight: 600;
  width: 62rem;
  color: #ffffff;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.hero__content--line {
  height: 3px;
  width: calc(100vw - 36rem + 6rem);
  border: 2px solid #ffffff;
  position: absolute;
  bottom: 0.5em;
  left: 30rem;
}

.hero__button {
  margin-top: 6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.3rem 3rem;
  color: #261b85;
  background-color: #ffffff;
  border-radius: 2rem;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.hero__button:hover {
  border: 2px solid #261b85;
}

.main {
  background-image: url("../sapientiaimgs/conexões.png");
}

.about {
  margin-top: -10rem;
  padding: 20rem 6rem 15rem 6rem;
  color: #261b85;
}

.about p {
  width: 50%;
  font-size: 1.8rem;
}

.about__title {
  float: right;
  position: relative;
  padding-top: 2rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  text-transform: uppercase;
}


.about__title--bold {
  font-weight: 900;
  font-size: 6rem;
}

.about__title--line {
  height: 1px;
  width: 100vw;
  border: 1px solid #261b85;
  position: absolute;
  bottom: -1rem;
  right: 4.8rem;
}

.companies {
  padding-top: 12rem;
  position: relative;
}

.companies__background {
  width: 100%;
  height: 98%;
  margin-top: -10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  position: absolute;
}

.companies__container {
  position: relative;
  padding: 5rem 6rem 10rem 6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1f1d42));
  background-image: -o-linear-gradient(transparent, #1f1d42);
  background-image: linear-gradient(transparent, #1f1d42);
}

.companies__title {
  font-size: 3rem;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  /* overflow: hidden; */
}

.companies__title--bold {
  font-size: 6rem;
  font-weight: 900;
}

.companies__title--line {
  height: 2px;
  width: calc(100% - 25rem + 6rem);
  border: 1px solid #ffffff;
  position: absolute;
  bottom: 0.5em;
  left: 25rem;
}

.companies__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, -webkit-min-content));
  grid-template-columns: repeat(auto-fill, minmax(20rem, min-content));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies__item {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 100%;
  height: 25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20rem;
  grid-template-rows: 20rem;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.companies__item img {
  max-width: 20rem;
}

.companies__image {
  -webkit-clip-path: circle(30%);
          clip-path: circle(30%);
  background: #ffffff;
  position: relative;
}

.companies__image img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.35);
      -ms-transform: translate(-50%, -50%) scale(0.35);
          transform: translate(-50%, -50%) scale(0.35);
}

.footer-info{
  text-align: center;
}

.companies__image {
  -webkit-clip-path: circle(30%);
          clip-path: circle(30%);
  background: #ffffff;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.companies__item:hover .companies__image {
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

.companies__image img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.35);
      -ms-transform: translate(-50%, -50%) scale(0.35);
          transform: translate(-50%, -50%) scale(0.35);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(black, 0.3);
  }
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 75%;
  height: 400px;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(black, 0.2);
          box-shadow: 0 2rem 4rem rgba(black, 0.2);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
      -ms-transform: translate(-50%, -50%) scale(0.25);
          transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  -o-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

/* OPEN STATES */
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__close,
.popup__close:link,
.popup__close:visited {
  color: #333;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #1f1d42;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 40%;
  }

  .hero__container {
    padding: 10rem 0 10rem 0;
    justify-items: center;
  }

  .hero__content {
    width: 50%;
    margin: 2.5em 0em 2em 2em;
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 2em;
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .hero__content--line {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__image {
    height: 110vh;
  }
  .about > p {
    font-size: 3rem;
    padding-top:10rem;
  }
  .about {
    padding-top: 30rem;
  }
  .companies{
    padding-top: 18rem;
  }

  .companies__title {
    padding-top: 10rem;
  }

  .companies__list {
    padding-top: 5rem;
    grid-template-columns: repeat(auto-fill, 35rem);
  }
}

@media only screen and (min-width: 1400px) {
  .about {
    padding-top: 40rem;
  }
}

/* Specific fixes */
#locus-iuris img {
  -webkit-transform: translate(-50%, -50%) scale(0.25);
      -ms-transform: translate(-50%, -50%) scale(0.25);
          transform: translate(-50%, -50%) scale(0.25);
}